<h1> <%= @object.name %></h1>

<% @object.actions.each do |meth| %>

	<article>
		<h2> <%= meth.title %> </h2>
		<p class="intro"> <%= meth.subtitle %> </p>
				<div class="url"><span class="method GET">GET</span>
  <%= @api.api_root %><%= meth.path %></div>
		<p>
			<%= meth.description.html_safe %>
		</p>
		

		<div class="highlight">

		<h3> Example </h3>

<ul class="nav nav-tabs">
  <li><a href="#xml" data-toggle="tab">XML</a></li>
  <li><a href="#json" data-toggle="tab">JSON</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="xml">
		Sample Request	
			<pre class="headers">
				<code>
					<%= meth.sample_request_xml %>
				</code>
			</pre>
		
		Sample Response 
			<pre>
				<code class="bash">
					<%= meth.sample_response_xml %>
				</code>
			</pre>

  </div>
  <div class="tab-pane" id="json">
		Sample Request	
			<pre class="headers">
				<code>
					<%= meth.sample_request_json %>
				</code>
			</pre>
		
		Sample Response 
			<pre>
				<code class="bash">
					<%= meth.sample_response_json %>
				</code>
			</pre>
  </div>
</div>

	


		</div>


	</article>
<% end %>
